.nav {
  /* display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0; */
  border-bottom: 1px solid #eaeaea;
}

.nav ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
}
